page-session-detail {

    #map-detail {
      border: 1px;
      border-color: black;
      height: 90%;
      width: 98%
    }
    #return
    {
      border: 5px;
      border-color: #488aff;
    }

    #border-div {
      border: 2px solid  #488aff;
      border-radius: 5px;
    }
  }

  